@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeueRegular.eot');
  src: url('../fonts/BebasNeueRegular.eot') format('embedded-opentype'),
       url('../fonts/BebasNeueRegular.woff2') format('woff2'),
       url('../fonts/BebasNeueRegular.woff') format('woff'),
       url('../fonts/BebasNeueRegular.ttf') format('truetype'),
       url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}

@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/LatoRegular.eot');
  src: url('../fonts/LatoRegular.eot') format('embedded-opentype'),
       url('../fonts/LatoRegular.woff2') format('woff2'),
       url('../fonts/LatoRegular.woff') format('woff'),
       url('../fonts/LatoRegular.ttf') format('truetype'),
       url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
}

$font-family-base:                "LatoRegular" !default;