.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: 700;
}

.center-text {
  text-align: center;
}

.light-text {
  color: $light;
}

.height-100 {
  height: 100%;
}

.height-auto {
  height: auto !important;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.item-input-dark {
  background-color: $midnight-blue;
}

.item-input-dark input {
  color: $stable;
  font-weight: 700;
}

.icon-silver {
  color: $silver;
}

.icon-stable {
  color: $stable;
}

.eccentric-header {
  font-family: "BebasNeueRegular";
  margin-bottom: 0px;
}