#nomovies-view {
  background: $royal;
}

#nomovies-view h1, #nomovies-view h2, #nomovies-view h3, #nomovies-view h4, #nomovies-view h5, #nomovies-view h6 {
  color: $light;
  font-family: "BebasNeueRegular";
  text-align: center;
  margin-bottom: 0px;
}
