#shaker-view {
  color: $light;
}

#shaker-view h1, #shaker-view h2, #shaker-view h3, #shaker-view h4, #shaker-view h5, #shaker-view h6 {
  color: $light;
  font-family: "BebasNeueRegular";
  text-align: center;
  margin-bottom: 0px;
}