rzslider {
  height: 12px;
  /*border-radius: 32px;*/
}

rzslider span.bar {
  background: $stable;
  border-radius: 32px;
}

rzslider span.bar.selection {
  background: $turquoise;
}

rzslider span.pointer {
  top: -4px;
  width: 18px;
  height: 18px;
  background-color: $green-sea;

  &.active,
  &:hover,
  &:focus {
    background-color: $turquoise-hover;
  }
}

rzslider span.pointer:after {
  display:none;
}

rzslider span.bubble {
  top: -32px;
  padding: 1px 3px 1px 3px;
  color: $dark;
  cursor: default;
/*  left:0px;
  right:0px;*/
}

rzslider span.bubble.limit {
  color: $dark;
}