// Override Ionic colours
$light:                           #fff !default;
$stable:                          #ecf0f1 !default;
$positive:                        #3498db !default;
$calm:                            #43cee6 !default;
$balanced:                        #2ecc71 !default;
$energized:                       #f1c40f !default;
$assertive:                       #e74c3c !default;
$royal:                           #1abc9c !default;
$dark:                            #34495e !default;

// Extra colours
$silver:                          #bdc3c7 !default;
$midnight-blue:                   #2c3e50 !default;
$turquoise:                       #1abc9c !default;
$green-sea:                       #16a085 !default;
$turquoise-hover:                 mix($turquoise, white, 80%);

$button-light-text:               #34495e !default;
$item-light-text:                 #34495e !default;

$item-divider-bg:                 #ecf0f1 !default;
$item-divider-color:              #34495e !default;

$item-light-active-bg:            $stable !default;
$item-default-active-bg:          $stable !default;

$base-color:                      #34495e !default;