<ion-view>
  <ion-header-bar class="bar-dark bold-text">
    <p class="title">Genres</p>
    <div class="button button-clear" ng-click="closeGenreModal()">
      <span class="icon ion-ios7-checkmark-outline"></span>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <ion-checkbox class="item item-checkbox checkbox-royal" ng-class="{active:genre.checked}" ng-repeat="genre in genres.genres" ng-model="genre.checked">
        {{genre.name}}
      </ion-checkbox>
    </div>
  </ion-content>
</ion-view>