<ion-view>
  <ion-header-bar class="item-input-inset bar-dark">
    <label class="item-input-wrapper item-input-dark">
      <i class="icon icon-search placeholder-icon"></i>
      <input type="search" placeholder="Name" ng-model="people.query">
    </label>
    <button class="button button-clear" ng-click="closePeopleModal()">
      Cancel
    </button>
  </ion-header-bar>

  <ion-content class="stable-bg">

    <div class="italic-text center-text padding card" ng-show="people.results.results && !people.results.results.length">
      <h3 class="margin-bottom-0"><i class="icon icon-user"></i></h3>
      No Results
    </div>

    <div class="italic-text center-text padding card" ng-show="!people.results">
      <h3 class="margin-bottom-0"><i class="icon icon-search"></i></h3>
      Search for people..
    </div>

    <div class="list card" ng-show="people.results.results && people.results.results.length">
      <div class="item" ng-repeat="person in people.results.results" ng-click="selectPerson(person)">
        {{person.name}}
      </div>
    </div>

  </ion-content>
</ion-view>