<ion-view id="shaker-view">

    <blurred-image class="content" ng-src="{{currentMovie.backgroundImagePath | trusted}}" ctrl-fn="updateCurrentMovie()"></blurred-image>

    <auto-height-header-footer>

      <ion-header-bar class="bar-clear height-auto" ng-show="currentMovie.title">
        <div class="buttons">
          <button class="button button-icon button-clear icon-menu" menu-toggle="left"></button>
        </div>
        <h1>{{currentMovie.title}} ({{currentMovie.release_date | limitTo: 4}})</h1>
      </ion-header-bar>

      <ion-content class="padding has-header has-footer" ng-show="currentMovie.title">
        <div class="row italic-text">
          <div class="col">
            {{currentMovie | movieGenres}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{currentMovie.overview}}
          </div>
        </div>
        <div class="row italic-text">
          <div class="col">
            Director: {{currentMovie | movieDirector}}
          </div>
        </div>
        <div class="row italic-text">
          <div class="col">
            Cast: {{currentMovie | movieCast}}
          </div>
        </div>
      </ion-content>

      <ion-footer-bar class="bar-clear height-auto" ng-show="currentMovie.title">
          <div class="col">
            <h3>{{currentMovie | movieRevenue}}<br>
            Box Office</h3>
          </div>
          <div class="col">
            <h3>{{currentMovie.runtime}}m<br>
            Runtime</h3>
          </div>
          <div class="col">
            <h3>{{currentMovie.vote_average}}<br>
            Score</h3>
          </div>
      </ion-footer-bar>

    </auto-height-header-footer>

</ion-view>