<ion-view>
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Released In
      </div>
      <div class="item">
        <rzslider
          rz-slider-floor="releaseYearSlider.floor"
          rz-slider-ceil="releaseYearSlider.ceil"
          rz-slider-model="releaseYearSlider.min"
          rz-slider-high="releaseYearSlider.max">
        </rzslider>
      </div>

      <div class="item item-divider">
        Score
      </div>
      <div class="item">
        <rzslider
          rz-slider-floor="averageVoteSlider.floor"
          rz-slider-ceil="averageVoteSlider.ceil"
          rz-slider-model="averageVoteSlider.min"
          rz-slider-high="averageVoteSlider.max">
        </rzslider>
      </div>

      <div class="item item-divider item-icon-right">
        <i class="icon icon-plus icon-silver" ng-click="openPeopleModal()"></i>
        People
      </div>
      <div class="item item-icon-right" ng-repeat="person in people.selected">
        <i class="icon icon-cancel-circled icon-stable" ng-click="removePerson(person)"></i>
        {{person.name}}
      </div>

      <div class="item item-divider item-icon-right">
        <i class="icon icon-plus icon-silver" ng-click="openGenreModal()"></i>
        Genres
      </div>
      <div class="item item-icon-right" ng-repeat="genre in genres.genres | filter:{checked:true}">
        <i class="icon icon-cancel-circled icon-stable" ng-click="removeGenre(genre)"></i>
        {{genre.name}}
      </div>

    </div>
  </ion-content>
</ion-view>