<ion-view id="nomovies-view">

  <ion-header-bar class="bar-clear height-auto">
    <div class="buttons">
      <button class="button button-icon button-clear icon-menu" menu-toggle="left"></button>
    </div>
  </ion-header-bar>
  
  <div class="row height-100">
    <div class="col col-center center-text light-text">
      <h1>That's all folks!</h1>
      We can't find anymore movies for those filters.
    </div>
  </div>

</ion-view>