<ion-popover-view class="fit">
  <div class="padding center-text">
    <h1 class="eccentric-header">Powered by</h1>
    <img id="tmdb-img" src="movie_shake/tmdb.png"/>
    <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
  </div>
</ion-popover-view>