<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-view name="content"></ion-nav-view>
  </ion-side-menu-content> 

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title bold-text">Filters</h1>
      <div class="button button-clear" ng-click="openAboutPopover($event)">
        <i class="icon icon-info-circled"></i>
      </div>
    </ion-header-bar>

    <ion-nav-view name="filtersMenu"></ion-nav-view>

  </ion-side-menu>

</ion-side-menus>